.info {
    padding: 2rem 5%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-row-gap: 2rem;
    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .img {
        div {
            margin: auto;
            width: 80%;
            padding-top: 80%;
            // background-image: url('/resources/image1.png');
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 3rem;
        }
    }
    .detail {
        h2 {
            font-weight: bold;
            color: #291507;
        }
        p {
            color: #291507;
        }
    }
}
.other-photos {
    h3 {
        font-weight: bold;
        color:  #291507;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
        grid-gap: 2rem;
        margin: 3rem 0 8rem;
        div {
            border-radius: 15%;
            overflow: hidden;
            .img {
                width: 100%;
                padding-top: 100%;
                background-image: url('/resources/image2.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

.loading {
    min-height: 75vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}